<!-- main menu-->
<div data-scroll-to-active="true" class="main-menu menu-fixed menu-dark menu-accordion menu-shadow">
    <!-- main menu content-->
    <div class="main-menu-content">
      <ul id="main-menu-navigation" data-menu="menu-navigation" class="navigation navigation-main">
        <li class=" navigation-header"><span data-i18n="nav.category.support">Sits</span><i data-toggle="tooltip" data-placement="right" data-original-title="Support" class="icon-ellipsis icon-ellipsis"></i>
        </li>
        <li class=" nav-item"><a href="#"><i class="icon-support"></i><span data-i18n="nav.support_raise_support.main" class="menu-title">List sits</span></a>
        </li>
        <li class=" nav-item"><a href="#"><i class="icon-document-text"></i><span data-i18n="nav.support_documentation.main" class="menu-title">Add new sit   </span></a>
        </li>
        <li class=" navigation-header"><span data-i18n="nav.category.support">Carers</span><i data-toggle="tooltip" data-placement="right" data-original-title="Support" class="icon-ellipsis icon-ellipsis"></i>
        </li>
        <li class=" nav-item"><a href="#"><i class="icon-support"></i><span data-i18n="nav.support_raise_support.main" class="menu-title">List carers</span></a>
        </li>
        <li class=" nav-item"><a href="#"><i class="icon-document-text"></i><span data-i18n="nav.support_documentation.main" class="menu-title">Add new carer</span></a>
        </li>
      </ul>
    </div>
    <!-- /main menu content-->
    <!-- main menu footer-->
    <!-- include includes/menu-footer-->
    <!-- main menu footer-->
  </div>
  <!-- / main menu-->